<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.homebox.runhomebridge</string>
	<key>LowPriorityIO</key>
	<false/>
	<key>Nice</key>
	<integer>0</integer>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/sh</string>
		<string>-c</string>
		<string>#!/bin/sh

echo '
tell application "Terminal"
  activate
  do script ("homebridge")
end tell
' | osascript - "$@" &gt; /dev/null</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
